/.idea
/.settings
/nbproject
/node_modules
/public/.well-known
/public/hot
/public/storage
/storage/*.key
/vendor
/*.zip

/public/a
/public/learn

.env

.ftpquota
.buildpath
.project

composer.phar

Homestead.json
Homestead.yaml
