/.idea
/.settings
/nbproject
/node_modules
/public/.well-known
/public/storage
/storage/*.key
/vendor
/*.zip

/public/a

.env

.ftpquota
.buildpath
.project

composer.phar

Homestead.json
Homestead.yaml

